<div class="row">
    <div ng-if="paginationCtrl.content">
        <div class="col-md-4">
            Showing {{paginationCtrl.startIndex()}} to
            {{paginationCtrl.endIndex()}} of {{paginationCtrl.content.length}} {{paginationCtrl.contentType}}
        </div>
        <div class="col-md-4 text-center">
            <label>Show <select ng-model="paginationCtrl.pageSize"
                                ng-options="size as size.toString() for size in paginationCtrl.allPageSizes">
            </select> {{paginationCtrl.contentType}} per page
            </label>
        </div>
    </div>
    <div class="col-md-4">
        <ul class="pagination pull-right" ng-show="paginationCtrl.numPages() >= 1">
            <li><a ng-click="paginationCtrl.previousPage()">&lt;</a></li>
            <li ng-repeat="p in paginationCtrl.pager()"
                ng-class="{'active': p == paginationCtrl.currentPage}"><a
                    ng-click="paginationCtrl.setPage(p)">{{p + 1}}</a></li>
            <li><a ng-click="paginationCtrl.nextPage()">&gt;</a></li>
        </ul>
    </div>
</div>